.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3a28cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revenue-card {
  width: 474px;
  height: 460px;
  filter: drop-shadow(5px 5px 10px #002568);
}

.revenue-card-header {
  padding: 48px;
  height: 49%;
  color: white;
  background-color: #337cff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.revenue-card-header > h1 {
  font-size: 48px;
  font-weight: 300;
  margin-top: 48px;
}

.revenue-card-header > h3 {
  font-family: 'TruenoRegular';
  margin-top: 0;
  font-weight: 700;
  letter-spacing: -0.06em;
}

.revenue-card-data {
  padding: 48px;
  height: 51%;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
